body {
    color: #1e1f26;
    font-family: 'Poppins', sans-serif;;
    font-size: 14px;
    background-color: #D0E1F9;
    min-height: 100vh;
    margin: 0; 
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    background-color: #283655;
  

}
.container {
    max-width: 1440px;
    margin: 0 auto;
  }


  .nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
  }

  .nav-link {
    padding: 0 20px;
    line-height: 50px;
    text-decoration: none;
    color: #ffffff;
    transition: .3s;
  }

  html {
    scroll-behavior: smooth; 
  }

  .main-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .section {
    width: calc(50% - 20px);
    padding: 10px;
    padding-bottom: 35px;
    border-bottom: 2px solid #4D648D;
   
  }

  ul {
    list-style-type: disc;
    
    
  }

  .section-profile {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 50px 30px 35px;
    border-bottom: 15px solid #4D648D;
}

.photo {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 1px 4px rgb(0 0 0 / 60%);
    filter: grayscale(0.2) brightness(1.05);
    transition: .3s;
}

  .section-title {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #283655;
  }

  .git-link {
    text-decoration: none;
    color:#283655;
    font-weight: bold;

  }

  .footer {
    background-color: #283655;
    color: #ffffff;
  }

  .container-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    color: #fff;
}



  .footer-link {
  padding: 10px;
  line-height: 50px;
  text-decoration: none;
  color: #ffffff;
  transition: .3s;
  }
  .rss_logo {
    width: 121px;
    height: 45px;
    background-image: url(./assets/rs_school_logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }

  @media (max-width: 768px) {
    .section {
      width: 100%;
    }
  }